<!-- src/app/app.component.html -->
<div class="row">
  <div class="col-2">
    <nav class="p-5">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/recette']">
            🗒️ Recette Module
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/todo']"> 📖 Todo Module </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/compteur']">
            ⏱️ Compteur Module
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dysney']">
            🐈 Disney personnage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-man']"> 👨 Add Man </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/game']"> 🎮 Game </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-10">
    <!-- Affiche un composant selon l'url, dans notre avec l'url todo on affiche le Todo-page.component -->
    <router-outlet></router-outlet>
  </div>
</div>
